
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #0a0a0b;
  color: #f2f5f7;
}

.barra-topo {
  background-color: #0a0a0b;
  color: white;
  padding: 0px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 98%;
  top: 0;
  z-index: 999;
  font-family: Impact;
}

.link a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

main {
  padding-top: 100px;
}

.form-container {
  display: flex;
  justify-content: center;
  padding: 100px;
}

.container {
  background-color: black;
  padding: 30px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 0 10px rgba(0,0,0,0.6);
}

.form-title {
  color: blue;
  font-size: 24px;
  margin-bottom: 15px;
}

.form-subtitle {
  color: #f2f5f7;
  font-size: 16px;
  margin-bottom: 15px;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

input[type="submit"] {
  background-color: blue;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

input[type="submit"]:hover {
  background-color: #1b1e40;
}

.radio-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

{
  .radio-group {
    flex-direction: column;
    gap: 10px;
  }

  .form-container {
    padding: 20px;
  }

  .container {
    padding: 20px;
    border-radius: 15px;
  }

  input, select {
    font-size: 16px;
  }

  .form-title {
    font-size: 20px;
  }

  .form-subtitle {
    font-size: 14px;
  }
}
